*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    min-height: 1000vh;
    background-color: #111;
}
h2{
    border: 1px solid red;
    border-radius: 0.31em;
    padding: 1em;
    position: fixed;
    margin: 1em;
    font-size: 1em;
    background-color: #111;
}
h2::before{
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #fff;
    animation: animate 8s linear infinite;
    filter: drop-shadow(0 0 20px rgb(207, 0, 0))drop-shadow(0 0 20px rgb(244, 12, 12));
}
@keyframes animate{
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 120px;
    }
}
